<% layout('layouts/boilerplate') -%>

    <div class="row mt-3">
         <div class="col-8 offset-2">
    <b><h3>Listing Details</h3></b>
     </div>

     <div class="card col-6 offset-2 show-card">
       <img src="<%= listing.image ? listing.image : '/images/default.jpg' %>" 
     class="card-img-top show-img" 
     alt="listing_image"
     style="height: 30rem;">
              <b><%= listing.title %></b><br>
              <b><p>Owned by <%= listing.owner.username %> Kumar</b><br>
              <%= listing.description %>
            </p><br>
            <p>&#x20b9;<%= listing.price.toLocaleString("en-IN") %>/night</p>
            <p><%= listing.location %></p>
            <p><%= listing.country %></p>
     </div>
   </div>

<br />

<% if(currentUser&& currentUser._id.equals(listing.owner._id)) {%>
<div class="btns">
  <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-2">Edit</a>

  <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
    <button class="btn btn-dark  offset-4">Delete</button>
  </form>
</div>
<% }  %>

<hr />


<% if(currentUser) { %>
<div class="mb-3">
  <h4>Leave a Review</h4>
  <form action="/listings/<%= listing._id %>/reviews" class="needs-validation" method="POST">
    <div class="mb-3 mt-3">
      <label for="rating" class="form-label">Rating:</label>
      <input type="range" id="rating" name="review[rating]" min="1" max="5" class="form-range" required>
    </div>
    <div class="mb-3 mt-3">
      <label for="comment" class="form-label">Comment:</label>
      <textarea required class="form-control" id="comment" name="review[comment]" rows="10" cols="30"></textarea>
    </div> 
    <button type="submit" class="btn btn-outline-dark">Submit Review</button>
  </form>
  <% } %>
      <hr>
   <p><b> All Reviews</b></p>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
  <% for(let review of listing.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Title: <%= review.author.username %></h5>
        <p class="card-text"><%= review.comment %></p>
        <p class="card-text"><%= review.rating %> Stars</p>
      </div>
      <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
        <button class="btn btn-outline-dark">Delete Review</button>
      </form>
    </div>
  <% } %>
    </div>
     
</div>
 </div>
<script src="/js/scripts.js"> </script>

